.footer {
  width: 100vw;
  box-sizing: border-box;
  padding: 32px 32px 24px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: none;
  pointer-events: none;
}

.footer-left, .footer-right {
  word-break: break-word;
  pointer-events: auto;
}

@media (max-width: 600px) {
  .footer {
    display: none; /* Hide footer on mobile */
  }
} 